* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kameron', serif;
}

body {
    background-image: linear-gradient(#000, #0E0E07 80%, #1f1D0F 100%);
    height: 100vh;
    overflow: hidden;
}

.lights {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    padding-inline: 1rem;
    padding-block: 1rem;
    z-index: 1;
}

.wrapper {
    z-index: 1;
    /* background: url(Assets/Lights\ And\ Seats.png) no-repeat; */
    /* background-size: cover; */
    /* height: 100vh; */
}

#backGround {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

#backGroundMobile {
    display: none;
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

.light {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    filter: blur(6px);
    animation: flicker 7s infinite;
}

.light.reverse {
    animation: flicker 6s reverse infinite;
}

@keyframes flicker {
    0% {
        opacity: 1.0;
    }

    30% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.8;
    }

    70% {
        opacity: 0.2;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes glow {
    0% {
        filter: drop-shadow(0px 0px 4px #C6B412);
    }

    30% {
        filter: drop-shadow(0px 0px 9px #C6B412);
    }

    50% {
        filter: drop-shadow(0px 0px 2px #C6B412);
    }

    70% {
        filter: drop-shadow(0px 0px 8px #C6B412);
    }

    100% {
        filter: drop-shadow(0px 0px 4px #C6B412);
    }
}

.content {
    margin-block: 2.5rem;
    color: #C6B412;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.8rem;
    filter: drop-shadow(0px 0px 4px #C6B412);
    letter-spacing: 0.12em;
    animation: glow 5s infinite;
}

.content h3 {
    font-size: 4rem;
}

.carousel-item.active {
    display: flex !important;
}

/* .carousel-item{
    display: flex !important; 
} */

.carousel-inner {
    width: 40vw !important;
    /* height: 20vw; */
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    /* transition: transform 0.7s ease; */
}

.but {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    top: 40%;
}

.but.next {
    right: 5%;
}

.but.prev {
    transform: scaleX(-1);
    left: 5%;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw !important;
    height: 20vw;
    /* background: radial-gradient(167.62% 167.62% at 62.63% -21.21%, #4B0E0E 0%, rgba(75, 14, 14, 0) 100%);
    filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(80px); */
    border-radius: 19px;
    color: white;
    line-height: 2rem;
    font-size: 1.7rem;
}

.info {
    margin-top: 3rem;
    color: #C6B412;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    line-height: 4rem;
}

.info span {
    color: white;
    font-size: 3rem;
}

.map {
    justify-content: center;
    margin-block: 1.2rem;
    display: flex;
    gap: 0.8rem;
}

.mapDiv {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(213, 208, 207);
    transition: all 0.7s;
}

.special {
    background: rgba(148, 28, 28, 0.74);
}

.carousel-control-prev {
    width: fit-content !important;
}

.carousel-control-next {
    width: fit-content !important;
}

.carousel-indicators li {
    cursor: pointer;
    width: 20px !important;
    height: 20px !important;
    margin-right: 1rem !important;
    border-radius: 10px !important;
    background-color: rgb(213, 208, 207) !important;
    transition: all 0.7s;
    background-clip: unset !important;
    background-clip: unset !important;
    box-sizing: border-box !important;
    opacity: 1 !important;
    transition: all 0.7s !important;
}

.carousel-indicators li.active {
    background: rgba(148, 28, 28, 0.74) !important;
}

.carousel-indicators {
    bottom: -50px !important;
}

.card1 {
    min-width: 80%;
    height: 20%;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5%;
    margin: 0 3%;

    background: radial-gradient(167.62% 167.62% at 62.63% -21.21%, #4B0E0E 0%, rgba(75, 14, 14, 0) 100%);
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(80px);
}

.carousel-item {
    text-align: center;
    justify-content: center;
    height: 40vh;
    /* background-color: red; */
}

.card1 {
    height: 40vh;
    width: 94%;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 0 2% 4%;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.8));

    /* background: rgb(237 237 237 / 97%); */

}

.names {
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    background-size: cover;
    
    text-align: center;
    justify-content: center;
    display: flex;
    z-index: 3;
    box-shadow: 0px 10px 10px -3px rgb(0, 0, 0, 0.25);
}

.anupam{
    background-image: url("Assets/images/anupam2.jpg");
}
.chirag{
    background-image: url("Assets/images/chirag.jpg");
    background-position: center;
}
.jaideep{
    background-image: url("Assets/images/jaideep.jpg");
}
.abhinav{
    background-image: url("Assets/images/abhinav.jpeg");
    /* background-position: center center; */
}
.akshat{
    background-image: url("Assets/images/akshat.jpg");
    background-position: center;
}
.devansh{
    background-image: url("Assets/images/devansh.jpg");
}
.shivanshu{
    background-image: url("Assets/images/shivanshu.jpeg");
}
.akshit{
    background-image: url("Assets/images/akshit.jpeg");
}
.suyash{
    background-image: url("Assets/images/suyash.jpeg");
}

.but{
    margin-inline: 1rem;
}
.profile-info {
    height: 50%;
    width: 60%;
    margin-bottom: 1vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}

.profile-info p {
    margin-bottom: 0;
    font-weight: 100;
}

.profile-name {
    font-size: 1.8rem;
    margin: 10px auto;
    color: white;
    font-weight: 600;
    margin-bottom: 5%;
}

p {
    color: white;
    font-size: 1.5rem;
    /* font-family: "Poppins", sans-serif; */
    margin-top: 0;
}

@media screen and (max-width: 768px) and (min-width:0px) {
    #backGround {
        display: none;
    }

    #backGroundMobile {
        display: block;
    }
    body{
        background: linear-gradient(180deg, #000000 0%, #272614 60.72%, #38361D 100%);
    }

    .light.off {
        display: none;
    }

    .but {
        display: none;
    }

    .carousel-indicators li {
        margin-right: 0.4rem !important;
    }

    .carousel-item {
        height: 25vh;
        width: 80vw !important;
    }

    .carousel-inner {
        /* height: 25vh; */
        width: 80vw !important;
    }    

    .card1 {
        height: 25vh;
    }

    .carousel-indicators {
        bottom: -60px !important;
    }

    .content h3 {
        font-size: 3.2rem;
        margin-inline: 1rem;
    }

    .info {
        font-size: 1.9rem;
        line-height: 3rem;
        margin-top: 5rem;
    }

    .profile-name {
        font-size: 1.1rem;
        margin: 10px 10px;
    }
    .profile-info p{
        font-size: 1rem;
    }
    .names {
        width: 25vw;
        height: 25vw;
    }

    .carousel-control-prev {
        display: none !important;
    }

    .carousel-control-next {
        display: none !important;
    }
}